.user-container{
  background-color: rgb(228, 161, 73);
  padding: 25px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  margin: 1rem ;
  
}
#user-image{
  height: 100px;
  width: 100px;
  background-color: aqua;
  border-radius: 50%;
}